:root {
    font-size: 3vw;
}

html,
body {
    background-color: #FAF7F7;
    margin: 0 auto;
    height: 100%;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

a:link {
    text-decoration: none;
}


/*-----------------LOG-IND------------------*/

/*-----header----*/
header {
    background-color: #EA5045;
    height: 45vw;
}

#top_logind {
    background-image: url(assets/logo_white.svg);
    height: 6.4vw;
    width: 25.4vw;
    position: absolute;
    background-size: 100%;
}

.pos_logo {
    top: 18vw;
    left: 38vw;
}


/*-----bottom----*/
form {
    margin: 10vw 10vw 2vw 10vw;
}

input[type=text],
input[type=password] {
    /*child*/
    flex-grow: 1;
    flex-basis: auto;
    font-family: 'WebFont', Arial, sans-serif;
    font-size: 0.8rem;
    color: #EA5045;
    width: 100%;
    padding: 2vw 5vw;
    margin: 8px 0;
    display: inline-block;
    border-radius: 5vw;
    border: none;
    box-sizing: border-box;
}

.placeholder {
    font-family: 'WebFont', Arial, sans-serif;
    color: #EA5045;
}

#logind {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 3vw;
}

button {
    /*child*/
    flex-grow: 1;
    flex-basis: auto;
    border: none;
    border-radius: 5vw;
    background-color: #EA5045;
    height: 9vw;
    width: 55vw;
    margin: 2.3vw;
    cursor: pointer;
}

button h1 {
    font-family: 'arialbold';
    font-size: 2.4vw;
    text-transform: uppercase;
    color: #FFFFFF;
}

.divider {
    /*child*/
    flex-grow: 1;
    flex-basis: auto;
    align-self: center;
    background-color: #DEDCDB;
    border-radius: 4vw;
    height: 0.8vw;
    width: 4.6vw;
    background-size: 100%;
}


label,
span {
    /*child*/
    flex-grow: 1;
    flex-basis: auto;
    font-family: 'WebFont', Arial, sans-serif;
    color: #EA5045;
    text-align: center;
    font-size: 0.8rem;
    margin: 1.2rem;
}

span a {
    font-family: 'WebFont', Arial, sans-serif;
    color: #EA5045;
}

.col_facebook {
    background-color: #FAF7F7;
    border: 0.4vw solid #EA5045;
    border-radius: 5vw;
    height: 9vw;
    width: 55vw;
    margin: 2.3vw;
    /*child*/
    flex-grow: 1;
    flex-basis: 7.5vw;
    /*parent*/
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.col_facebook a {
    font-family: 'arialbold';
    color: #EA5045;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}

.logo {
    background-image: url(assets/facebook_logo.svg);
    background-size: 100%;
    width: 3.3vw;
    height: 3vw;
}

/*-----------------FONTS------------------*/
@font-face {
    font-family: 'arialbold_italic';
    src: url('webfontkit-arial/arial_bold_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialbold';
    src: url('webfontkit-arial/arial_bold-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialitalic';
    src: url('webfontkit-arial/arial_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialregular';
    src: url('webfontkit-arial/arial-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
