:root {
    --screen-width: 500px;
    --screen-height: 812px;
    --main-bg-color: #FAF7F7;
    --main-knap-color: #EA5045;
    --table-border: #E2E8ED;
    font-size: 100%;
}

html,
body {
    background-color: var(--main-background);
    margin: 0 auto;
    overflow-x: hidden;
}

img,
table {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

a:link {
    text-decoration: none;
}

/*-----------------MENU------------------*/
#menu {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    width: 100%;
    height: var(--screen-height);
    background-color: #3F3140;
    z-index: 1;
}

.logo {
    background-image: url(assets/logo_white.svg);
    height: 6.4vw;
    width: 25.4vw;
    background-size: 100%;
    margin-top: 15vw;
    margin-bottom: 6vw;
}

.item {
    text-align: center;
    margin: 2vw;
    padding: 1.5vw;
}

nav .hidden {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
    margin: 4vw;
    color: #F58E81;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* unvisited link */
header nav a:link {
    color: #F58E81;
}

/*visited*/
header nav a:visited {
    color: var(--main-knap-color);
}

/* mouse over link */
header nav a:hover,
nav button a:hover {
    color: var(--main-knap-color);
}

/* selected link */
header nav a:active {
    color: #FFFFFF;
}

#menuknap {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}

.pos {
    top: 2.7vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    width: 6.5vw;
    height: 0.8vw;
    background-color: #F2F2F2;
    margin: 1vw;
    border-radius: 0.4vw;
}

.hidden {
    transform: translateX(100%);
    transition: .10s;
    opacity: 0;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-48deg) translate(-6px, 6px);
    transition: .20s;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(48deg) translate(-7px, -8px);
    transition: .20s;
}


/*----------LOG UD----------*/
button {
    height: 8vw;
    width: var(--screen-width);
    margin-top: 56.2vw;
    border: none;
    background-color: #F58E81;
    cursor: pointer;
    font-size: 4vw;
}

nav button {
    font-family: 'arialbold';
    color: #FFFFFF;
}

/*visited*/
nav button:visited {
    color: #FFFFFF;
}

/* unvisited link */
nav button:link {
    color: #FFFFFF;
}

/*-----------------HEADER TIL FORSIDE, SKEMA, MATERIALER----------------*/

header {
    background-color: #EA5045;
    height: 13vw;
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

.kea {
    position: absolute;
    /*top: 3.5vw;
    left: 5vw;*/
    margin: 3.5vw 2vw;
    cursor: pointer;
    padding: 1vw;
}

.profil {
    position: absolute;
    /*top: 3.5vw;
    right: 15vw;*/
    margin: 3.2vw 3vw 3.2vw 80vw;
    cursor: pointer;
    padding: 1vw;
}

.kea_sprite {
    background-image: url(assets/logo_white.svg);
    background-size: 100%;
    height: 3.7vw;
    width: 15vw;
}

.profil_sprite {
    background-image: url(assets/Profile.svg);
    background-size: 100%;
    height: 4.5vw;
    width: 4.5vw;
}


/*----------------FORSIDES INDHOLD------------------*/

#forside {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
}

#forside .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2vw;
}

.col {
    background-color: #FFFFFF;
    margin: 2vw;
    padding: 2vw;
    box-sizing: border-box;
}

a h2 {
    font-family: canada-type-gibson, sans-serif;
    font-size: 3.5vw;
    font-weight: 500;
    font-style: normal;
    color: #F58E81;
    text-align: center;
}

.col a {
    margin: 3vw;
}

.materialer,
.skema,
.noti,
.mail,
.favoritter,
.grupper,
.chat,
.afleveringer,
.search,
.eksempel {
    /*child*/
    flex-grow: 1;
    flex-basis: 100px;
    /*parent*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

.materialer .ikon {
    background-image: url(assets/Folder.svg);
    background-size: 100%;
    height: 7vw;
    width: 8vw;
    margin: 0vw 4vw 0;
}

.skema .ikon {
    background-image: url(assets/Calendar.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 5vw 0;
}

.noti .ikon {
    background-image: url(assets/Alert.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 6vw 0;
}

.techlounge {
    /*child*/
    flex-grow: 3;
    flex-basis: 54vw;
    /*parent*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.techlounge h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6vw;
    color: #F58E81;
}

.mail .ikon {
    background-image: url(assets/Messages.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 6vw 0;
}

.favoritter .ikon {
    background-image: url(assets/Bookmark.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 6vw 0;
}

.grupper .ikon {
    background-image: url(assets/grupper.svg);
    background-size: 100%;
    height: 8vw;
    width: 11.6vw;
    margin: 0vw 3vw 0;
}

.chat .ikon {
    background-image: url(assets/chat.svg);
    background-size: 100%;
    height: 8vw;
    width: 11.6vw;
    margin: 0vw 2.5vw 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*child*/
    flex-grow: 1;
    flex-basis: 10vw;
}

.aktuelt {
    /*child*/
    flex-grow: 2;
    flex-basis: 25vw;
    /*parent*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aktuelt h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10.2vw;
    color: #F58E81;
    text-align: center;
}

.col_narrow {
    /*child*/
    flex-grow: 2;
    flex-basis: 20vw;
    /*parent*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search .ikon {
    background-image: url(assets/search.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 5vw 0;
}

.afleveringer .ikon {
    background-image: url(assets/afleveringer.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 6vw 0;
}

.eksempel .ikon {
    background-image: url(assets/eksempel.svg);
    background-size: 100%;
    height: 7vw;
    width: 7vw;
    margin: 0vw 5vw 0;
}


/*-----------------SKEMA------------------*/
/*---TOP---*/
#skema {
    background-color: var(--main-bg-color);
}

.label {
    background-color: #DEDCDB;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 0.7;
    padding: 0 3vw;
}

.label h1 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-size: 4.5vw;
    font-style: normal;
    color: #3F3140;
    box-sizing: border-box;
}

.label h2 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-size: 3.4vw;
    font-style: normal;
    color: #707070;
    box-sizing: border-box;
    padding: 1vw;
}

.label h3 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 300;
    font-size: 3.3vw;
    padding: 1vw 0;
    font-style: normal;
    color: #3F3140;
    box-sizing: border-box;
}

.label h4 {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 300;
    font-size: 3.3vw;
    padding: 1vw 0;
    font-style: normal;
    color: #707070;
    box-sizing: border-box;
}

.left,
.right {
    flex-basis: 100px;
    flex-grow: 1;
    padding: 0 3.5vw;
}

.right {
    text-align: right;
}

.dato {
    background-color: #3F3140;
    box-sizing: border-box;
    padding: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dato a {
    color: #F58E81;
    font-family: canada-type-gibson, sans-serif;
    font-weight: 600;
    font-size: 4.5vw;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    padding: 2vw 2vw;
}

.month,
.dag,
.number {
    padding: 0.6vw;
    color: #FFFFFF;
    text-align: center;
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
}

.month {
    font-weight: 500;
    font-size: 3.5vw;
}

.dag {
    font-weight: 400;
    font-size: 2.8vw;
}

.number {
    font-weight: 400;
    font-size: 3.5vw;
}

/*-----------TABEL------------*/
table#t01 {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    box-sizing: border-box;
    font-style: normal;
    font-family: canada-type-gibson, sans-serif;
    border: 0.2vw solid var(--table-border);
}

th {
    font-weight: 400;
    color: #BCC5D3;
    line-height: 1.6;
    border: 0.2vw solid var(--table-border);
    width: 16vw;
    padding: 1vw 0;
}

td {
    box-sizing: border-box;
    border: 0.2vw solid var(--table-border);
    height: 5vw;
    text-align: left;

}

table#t01 tr:nth-child(3n+0) {
    background-color: var(--main-bg-color);
}

table#t01 td:nth-last-of-type(2) {
    background-color: #F2F1F0;
}


h5 {
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size: 3.2vw;
    line-height: 0.1;
    padding-left: 3vw;
    font-family: canada-type-gibson, sans-serif;
}

p {
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vw;
    line-height: 0.1;
    padding-left: 3vw;
    font-family: canada-type-gibson, sans-serif;
}

.ikon_link1 {
    top: 56vw;
    left: 13vw;
    position: absolute;
    cursor: pointer;
}

.sprite1 {
    background-image: url(assets/Folder.svg);
    width: 4.8vw;
    height: 5.4vw;
    background-size: 100%;
    margin: 0 0 0 75vw;
}

.ikon_link2 {
    top: 63vw;
    left: 14vw;
    position: absolute;
}

.sprite2 {
    background-image: url(assets/Attachment.svg);
    width: 4vw;
    height: 4vw;
    background-size: 100%;
    margin: 0 0 0 75vw;
}

.ikon_link3 {
    top: 86vw;
    left: 14vw;
    position: absolute;
}

.sprite3 {
    background-image: url(assets/Attachment.svg);
    width: 4vw;
    height: 4vw;
    background-size: 100%;
    margin: 0 0 0 75vw;
}

.ikon_link4 {
    top: 113vw;
    left: 13vw;
    position: absolute;
}

.sprite4 {
    background-image: url(assets/Folder.svg);
    width: 4.8vw;
    height: 5.4vw;
    background-size: 100%;
    margin: 0 0 0 75vw;
}

/*---BOTTOM---*/
.footer {
    background-color: #3F3140;
    position: fixed;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer a {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 400;
    font-size: 3vw;
    font-style: normal;
    color: #FFFFFF;
}

.skema_logo {
    background-image: url(assets/calendar-icon.svg);
    height: 3.8vw;
    width: 3.4vw;
    margin-right: 3vw;
    background-size: 100%;
}

/*-----------------MATERIALER------------------*/
#materialer {
    display: flex;
    flex-flow: column wrap;
}

.mat_1,
.mat_2,
.mat_3 {
    box-sizing: border-box;
    background-color: #F2F1F0;
    flex-grow: 1;
    flex-basis: 10vw;
    padding: 3vw;
    cursor: pointer;
}

.mat_1 {
    margin: 3.5vw 3vw 2vw 3vw;
}

.mat_2 {
    margin: 2vw 3vw;
}

.mat_3 {
    margin: 2vw 3vw;
}

.ikonlink_sprite1 {
    background-image: url(assets/afleveringer.svg);
    width: 4.8vw;
    height: 4.8vw;
    background-size: 100%;
    margin: 0 0 0 80vw;
}

.ikonlink_sprite2 {
    background-image: url(assets/afleveringer.svg);
    width: 4.8vw;
    height: 4.8vw;
    background-size: 100%;
    margin: 0 0 0 80vw;
}

.ikonlink_sprite3 {
    background-image: url(assets/afleveringer.svg);
    width: 4.8vw;
    height: 4.8vw;
    background-size: 100%;
    margin: 0 0 0 80vw;
}

/*-----------------FONTS------------------*/
@font-face {
    font-family: 'arialbold_italic';
    src: url('webfontkit-arial/arial_bold_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialbold';
    src: url('webfontkit-arial/arial_bold-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialitalic';
    src: url('webfontkit-arial/arial_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialregular';
    src: url('webfontkit-arial/arial-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*-----------------Store skærme-----------------*/
