:root {
    font-size: 3vw;
}

html,
body {
    background-color: #FAF7F7;
    margin: 0 auto;
    height: 100%;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

a:link {
    text-decoration: none;
}

header {
    background-color: #EA5045;
    height: 10vw;
}

/*-----------------MENU------------------*/
nav .hidden {
    display: flex;
    flex-wrap: wrap
}

nav a {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 3.5vw;
    margin: 5vw;
    color: #F58E81;
}

#menu {
    display: flex;
    flex-flow: wrap column;
    width: 100%;
    background-color: #3F3140;
}

.item {
    flex-grow: 1;
    text-align: center;
    margin: 1.5vw;
    padding: 2vw;
}

nav li:hover {
    transform: scale(1.2);
}

nav {
    display: flex;
    width: 100%;
}

/* unvisited link */
header nav a:link {
    color: #F58E81;
}

/*visited*/
header nav a:visited {
    color: #EA5045;
}

/* mouse over link */
header nav a:hover {
    color: #FFFFFF;
}

/* selected link */
header nav a:active {
    color: #FFFFFF;
}

#menuknap {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.pos {
    top: 1vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    width: 6.5vw;
    height: 0.8vw;
    background-color: #F2F2F2;
    margin: 1vw;
    border-radius: 0.4vw;
}

.hidden {
    transform: translateX(100%);
    opacity: 0;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

button {
    height: 4vw;
    width: auto;
    background-color: #F58E81;
}

/*-----------------FORSIDE------------------*/



/*-----------------FONTS------------------*/
@font-face {
    font-family: 'arialbold_italic';
    src: url('webfontkit-arial/arial_bold_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialbold';
    src: url('webfontkit-arial/arial_bold-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialitalic';
    src: url('webfontkit-arial/arial_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialregular';
    src: url('webfontkit-arial/arial-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
