:root {
    font-size: 3vw;
    --screen-width: 500px;
    --screen-height: 812px;
}

html,
body {
    background-color: #FAF7F7;
    margin: 0 auto;
    height: 100%;
}

img {
    width: 100%;
}

section {
    margin: 0 auto;
    max-width: none;
}

a:link {
    text-decoration: none;
}

header {
    background-color: #EA5045;
    height: 10vw;
    width: 100%;
    position: fixed;
}

/*-----------------MENU------------------*/
#menu {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    width: 100%;
    height: var(--screen-height);
    background-color: #3F3140;
}

.logo {
    background-image: url(assets/logo_white.svg);
    height: 6.4vw;
    width: 25.4vw;
    background-size: 100%;
    margin-top: 15vw;
    margin-bottom: 6vw;
}

.item {
    text-align: center;
    margin: 2vw;
    padding: 1.5vw;
}

nav .hidden {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    font-family: canada-type-gibson, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
    margin: 4vw;
    color: #F58E81;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* unvisited link */
header nav a:link {
    color: #F58E81;
}

/*visited*/
header nav a:visited {
    color: #EA5045;
}

/* mouse over link */
header nav a:hover,
nav button a:hover {
    color: #EA5045;
}

/* selected link */
header nav a:active {
    color: #FFFFFF;
}

#menuknap {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

.pos {
    top: 1vw;
    right: 2vw;
}

.bar1,
.bar2,
.bar3 {
    width: 6.5vw;
    height: 0.8vw;
    background-color: #F2F2F2;
    margin: 1vw;
    border-radius: 0.4vw;
}

.hidden {
    transform: translateX(100%);
    transition: .10s;
    opacity: 0;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-48deg) translate(-6px, 6px);
    transition: .20s;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(48deg) translate(-7px, -8px);
    transition: .20s;
}


/*----------LOG UD----------*/
button {
    height: 8vw;
    width: var(--screen-width);
    margin-top: 56vw;
    border: none;
    background-color: #F58E81;
    cursor: pointer;
}

nav button a {
    font-family: 'arialbold';
    color: #FFFFFF;
}

/*visited*/
nav button a:visited {
    color: #FFFFFF;
}

/* unvisited link */
nav button a:link {
    color: #FFFFFF;
}

/*-----------------FORSIDE------------------*/
/*-----------HEADER-----------*/
.kea,
.profil {
    position: absolute;
}

.kea_sprite {
    background-image: url(assets/logo_white.svg);
    background-size: 100%;
    height: 3.7vw;
    width: 15vw;
    margin: 2.5vw;
}

/*-----------------FONTS------------------*/
@font-face {
    font-family: 'arialbold_italic';
    src: url('webfontkit-arial/arial_bold_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialbold';
    src: url('webfontkit-arial/arial_bold-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialitalic';
    src: url('webfontkit-arial/arial_italic-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arialregular';
    src: url('webfontkit-arial/arial-webfont.woff2') format('woff2'),
        url('webfontkit-arial/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
